{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row text-center">

        <div class="col-12">
            <h2 class="mt-5">Swahilligood</h2>
            <h2> Food Truck</h2>
        </div>

        <div class="col">
            <img class="mt-5 mb-5" src="{% static 'images/noimage.png' %}" alt="no-image">
        </div>

        <div class="col">
            <img class="mt-5 mb-5" src="{% static 'images/noimage.png' %}" alt="no-image">
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
</div>



{% endblock %}